dist
coverage

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/unplugged
!.yarn/sdks
!.yarn/versions

data/*

.dockerignore
.git
.github
.gitignore
.gitmodules
.vscode
tests
README.md
Dockerfile
docker-compose.yml
docker-compose.*.yml
